<div class="header">
	<div class="text">{{ctrl.ctitle}}</div> 
</div>

<div class="topView">
	<label class="datum">
		<div class="oc-value" style="background : {{ctrl.data.colors[0]}};">{{ctrl.data.sumData[0]}}</div>
	</label>
	<label class="datum">
		<div class="oc-value" style="background : {{ctrl.data.colors[1]}};">{{ctrl.data.sumData[1]}}</div>
	</label>
	<label class="datum">
		<div class="oc-value" style="background : {{ctrl.data.colors[2]}};">{{ctrl.data.sumData[2]}}</div>
	</label>
	<label class="datum">
		<div class="oc-value" style="background : {{ctrl.data.colors[3]}};">{{ctrl.data.sumData[3]}}</div>
	</label>
</div>

<div class="btmGraph">
	<canvas class="bar" width="215" height="90"></canvas>
</div>
