// (c) Copyright 2016-2017 Hewlett Packard Enterprise Development LP
// (c) Copyright 2017 SUSE LLC
$images_base_path: "/images";

$login_background_image: "#{$images_base_path}/login-background.png";
$branded_logo_image: "#{$images_base_path}/icons/logos/login-logo.png";