// (c) Copyright 2016-2017 Hewlett Packard Enterprise Development LP
// (c) Copyright 2017 SUSE LLC
//provides dom/javascript accessible references to colors from the palette file
.oc-graph-color-1 {
  color: $oc-graph-color-1;
}

.oc-graph-color-2 {
  color: $oc-graph-color-2;
}

.oc-graph-color-3 {
  color: $oc-graph-color-3;
}

.oc-graph-color-4 {
  color: $oc-graph-color-4;
}

.oc-graph-color-5 {
  color: $oc-graph-color-5;
}

.oc-graph-color-6 {
  color: $oc-graph-color-6;
}

.oc-graph-color-7 {
  color: $oc-graph-color-7;
}

.oc-graph-color-8 {
  color: $oc-graph-color-8;
}

.oc-graph-blue-1{
  color: $oc-graph-blue-1;
}

.oc-graph-blue-2{
  color: $oc-graph-blue-2;
}

.oc-graph-blue-3{
  color: $oc-graph-blue-3;
}

.oc-graph-blue-4{
  color: $oc-graph-blue-4;
}

.oc-graph-gray-1{
  color: $oc-graph-gray-1;
}

.oc-graph-gray-2{
  color: $oc-graph-gray-2;
}

.oc-graph-gray-3{
  color: $oc-graph-gray-3;
}

.oc-graph-gray-4{
  color: $oc-graph-gray-4;
}

.oc-graph-gray-5{
  color: $oc-graph-gray-5;
}

.oc-graph-green-1{
  color: $oc-graph-green-1;
}

.oc-graph-green-2{
  color: $oc-graph-green-2;
}

.oc-graph-green-3{
  color: $oc-graph-green-3;
}

.oc-graph-green-4{
  color: $oc-graph-green-4;
}

.oc-graph-purple-1{
  color: $oc-graph-purple-1;
}

.oc-graph-purple-2{
  color: $oc-graph-purple-2;
}

.oc-graph-purple-3{
  color: $oc-graph-purple-3;
}

.oc-graph-purple-4{
  color: $oc-graph-purple-4;
}

.oc-graph-purple-5{
  color: $oc-graph-purple-5;
}

.oc-graph-purple-6{
  color: $oc-graph-purple-6;
}

.oc-graph-yellow-1{
  color: $oc-graph-yellow-1;
}

.oc-graph-brown-1{
  color: $oc-graph-brown-1;
}

.utilized-color{
  color: $donut-used-color;
}

.unutilized-color{
  color: $donut-free-color;
}

.plot-guide-color{
  color: $plot-guide-color;
}

.status-error-color {
  color: $status-error-color;
}

.status-warning-color {
  color: $status-warning-color;
}

.status-ok-color {
  color: $status-ok-color;
}

.status-unknown-color {
  color: $status-unknown-color;
}

.status-disabled-color{
  color: $status-disabled-color;
}

.oc-alarm-ok-color {
  color: $oc-alarm-ok-color;
      }

.oc-alarm-warning-color {
  color: $oc-alarm-warning-color;
}

.oc-alarm-critical-color {
  color: $oc-alarm-critical-color;
}

.oc-alarm-unknown-color {
  color: $oc-alarm-unknown-color;
}

.oc-alarm-open-color {
  color: $oc-alarm-open-color;
}

.oc-alarm-acknowledged-color {
  color: $oc-alarm-acknowledged-color;
}

.oc-alarm-resolved-color {
  color: $oc-alarm-resolved-color;
}

.timeseries-label-color {
  color: $read_only_data_color;
}
