// (c) Copyright 2016-2017 Hewlett Packard Enterprise Development LP
// (c) Copyright 2017 SUSE LLC
$icomoon-font-path: "fonts" !default;

$ardana-icon-Achievement_enable: "\e901";
$ardana-icon-Action: "\e902";
$ardana-icon-Actions: "\e903";
$ardana-icon-Active_L: "\e904";
$ardana-icon-Active_M: "\e905";
$ardana-icon-Active_S: "\e906";
$ardana-icon-Add: "\e909";
$ardana-icon-Add_user: "\e908";
$ardana-icon-Add_user_pressed: "\e907";
$ardana-icon-Admin: "\e90a";
$ardana-icon-Advanced_search: "\e90b";
$ardana-icon-Aggregate: "\e90c";
$ardana-icon-Alert: "\e90e";
$ardana-icon-Alert_pressed: "\e90d";
$ardana-icon-Analytics: "\e90f";
$ardana-icon-Announcement: "\e910";
$ardana-icon-App: "\e911";
$ardana-icon-Apple: "\e912";
$ardana-icon-Archive: "\e913";
$ardana-icon-Article: "\e914";
$ardana-icon-Ascend: "\e915";
$ardana-icon-Attachment: "\e916";
$ardana-icon-Ban: "\ea6e";
$ardana-icon-Bar_chart: "\e917";
$ardana-icon-Blog: "\e918";
$ardana-icon-Book: "\e919";
$ardana-icon-Bookmark: "\e91b";
$ardana-icon-Bookmark_pressed: "\e91a";
$ardana-icon-Bottom_corner: "\e91c";
$ardana-icon-Bottom_link: "\e91d";
$ardana-icon-Bug_defect: "\e91e";
$ardana-icon-Bundle: "\e91f";
$ardana-icon-Calculator: "\e920";
$ardana-icon-Calendar: "\e921";
$ardana-icon-Camera: "\e923";
$ardana-icon-Camera_pressed: "\e922";
$ardana-icon-Capacity: "\e924";
$ardana-icon-Card_Sort: "\e925";
$ardana-icon-Catalog: "\e926";
$ardana-icon-Chapter_add: "\e927";
$ardana-icon-Chat: "\e928";
$ardana-icon-Check: "\e929";
$ardana-icon-Checkbox: "\e92a";
$ardana-icon-Checkbox_selected: "\e92b";
$ardana-icon-Checkmark: "\e92c";
$ardana-icon-Cheveron_Left: "\ea6f";
$ardana-icon-Cheveron_Right: "\ea70";
$ardana-icon-Chip: "\ea6c";
$ardana-icon-Chrome: "\e92d";
$ardana-icon-Circular_view: "\e92e";
$ardana-icon-Clipboard: "\e92f";
$ardana-icon-Clock: "\e931";
$ardana-icon-Clock_alarm: "\e930";
$ardana-icon-Clone: "\e932";
$ardana-icon-Close: "\e933";
$ardana-icon-Cloud: "\e938";
$ardana-icon-Cloud_computer: "\e934";
$ardana-icon-Cloud_download: "\e935";
$ardana-icon-Cloud_software: "\e936";
$ardana-icon-Cloud_upload: "\e937";
$ardana-icon-Cluster: "\e939";
$ardana-icon-Code: "\e93a";
$ardana-icon-Command_line: "\e93b";
$ardana-icon-Compare: "\e93c";
$ardana-icon-Compass: "\e93d";
$ardana-icon-Compliance: "\e93e";
$ardana-icon-Configuration: "\e940";
$ardana-icon-Configuration_pressed: "\e93f";
$ardana-icon-Connect: "\e941";
$ardana-icon-Contact_Us: "\e944";
$ardana-icon-Contact_Us_pressed: "\e943";
$ardana-icon-Contact_info: "\e942";
$ardana-icon-Continuous_integration: "\e946";
$ardana-icon-Continuous_integration_pressed: "\e945";
$ardana-icon-Contract: "\e947";
$ardana-icon-Copy: "\e948";
$ardana-icon-Critical_L: "\e949";
$ardana-icon-Critical_M: "\e94a";
$ardana-icon-Critical_S: "\e94b";
$ardana-icon-Cursor-Pointer: "\e94d";
$ardana-icon-Cursor-Pointer_pressed: "\e94c";
$ardana-icon-Cut: "\e94e";
$ardana-icon-Cycle: "\e94f";
$ardana-icon-D_interaction: "\e900";
$ardana-icon-Dashboard: "\e950";
$ardana-icon-Database: "\e951";
$ardana-icon-Deliver_transit: "\e952";
$ardana-icon-Deployment: "\e953";
$ardana-icon-Descend: "\e954";
$ardana-icon-Desktop: "\e955";
$ardana-icon-Detach: "\e956";
$ardana-icon-Directions: "\e957";
$ardana-icon-Disabled_L: "\e958";
$ardana-icon-Disabled_M: "\e959";
$ardana-icon-Disabled_S: "\e95a";
$ardana-icon-Dislike: "\e95c";
$ardana-icon-Dislike_pressed: "\e95b";
$ardana-icon-Divide_in_center: "\e95d";
$ardana-icon-Divide_to_four: "\e95e";
$ardana-icon-Divide_to_right: "\e95f";
$ardana-icon-Divide_to_three: "\e960";
$ardana-icon-Document_CSV: "\e963";
$ardana-icon-Document_Microsoft_Excel: "\e969";
$ardana-icon-Document_Microsoft_Notes: "\e96a";
$ardana-icon-Document_Microsoft_Outlook: "\e96b";
$ardana-icon-Document_Microsoft_PowerPoint: "\e96c";
$ardana-icon-Document_Microsoft_Word: "\e96d";
$ardana-icon-Document_PDF: "\e96e";
$ardana-icon-Document_cloud: "\e961";
$ardana-icon-Document_configuration: "\e962";
$ardana-icon-Document_datafile: "\e964";
$ardana-icon-Document_download: "\e965";
$ardana-icon-Document_general: "\e966";
$ardana-icon-Document_image: "\e967";
$ardana-icon-Document_locked: "\e968";
$ardana-icon-Document_performance: "\e96f";
$ardana-icon-Document_rich_text: "\e970";
$ardana-icon-Document_sound: "\e971";
$ardana-icon-Document_test: "\e972";
$ardana-icon-Document_text: "\e973";
$ardana-icon-Document_threats: "\e974";
$ardana-icon-Document_transfer: "\e975";
$ardana-icon-Document_upload: "\e976";
$ardana-icon-Document_user: "\e977";
$ardana-icon-Document_video: "\e978";
$ardana-icon-Document_zip: "\e979";
$ardana-icon-Domain: "\e97a";
$ardana-icon-Down: "\e97c";
$ardana-icon-Down_link: "\e97b";
$ardana-icon-Download: "\e97d";
$ardana-icon-Drag: "\e97e";
$ardana-icon-Drive_cage: "\e97f";
$ardana-icon-Drop-down_Arrow: "\e981";
$ardana-icon-Drop_caret: "\e980";
$ardana-icon-Dropbox: "\e982";
$ardana-icon-Duplicate: "\e983";
$ardana-icon-Edit: "\e985";
$ardana-icon-Edit_pressed: "\e984";
$ardana-icon-Eject: "\e987";
$ardana-icon-Eject_pressed: "\e986";
$ardana-icon-Email: "\e988";
$ardana-icon-Empty_Check: "\e989";
$ardana-icon-Environment: "\e98a";
$ardana-icon-Error_outline: "\ea76";
$ardana-icon-Exclamation: "\ea71";
$ardana-icon-Expand: "\e98b";
$ardana-icon-Eye_Slash: "\ea72";
$ardana-icon-Facebook: "\e98c";
$ardana-icon-Fast_forward-Next_chapter: "\e98e";
$ardana-icon-Fast_forward-Next_chapter_pressed: "\e98d";
$ardana-icon-Fast_rewind-Previous_chapter: "\e990";
$ardana-icon-Fast_rewind-Previous_chapter_pressed: "\e98f";
$ardana-icon-Favorite: "\e992";
$ardana-icon-Favorite_pressed: "\e991";
$ardana-icon-Female_user: "\e994";
$ardana-icon-Female_user_pressed: "\e993";
$ardana-icon-Filter: "\e996";
$ardana-icon-Filter_pressed: "\e995";
$ardana-icon-Firefox: "\e997";
$ardana-icon-First_aid_treatment: "\e998";
$ardana-icon-Flag: "\e99a";
$ardana-icon-Flag_pressed: "\e999";
$ardana-icon-Folder_open: "\e99b";
$ardana-icon-Gallery: "\e99d";
$ardana-icon-Gallery_pressed: "\e99c";
$ardana-icon-Gear: "\e99e";
$ardana-icon-Globe: "\e99f";
$ardana-icon-Google-Plus: "\e9a1";
$ardana-icon-Google_Wallet: "\e9a0";
$ardana-icon-Grid: "\e9a2";
$ardana-icon-Group: "\e9a3";
$ardana-icon-Grow: "\e9a4";
$ardana-icon-Half_star: "\e9a5";
$ardana-icon-Halt-stop: "\e9a6";
$ardana-icon-Help: "\e9a7";
$ardana-icon-History: "\e9a8";
$ardana-icon-Home: "\e9aa";
$ardana-icon-Home_pressed: "\e9a9";
$ardana-icon-Host: "\e9ac";
$ardana-icon-Host_maintenance: "\e9ab";
$ardana-icon-Image: "\e9ae";
$ardana-icon-Image_pressed: "\e9ad";
$ardana-icon-Impact: "\e9af";
$ardana-icon-In_progress: "\e9b0";
$ardana-icon-Inbox: "\e9b1";
$ardana-icon-Indicator: "\e9b3";
$ardana-icon-Indicator_pressed: "\e9b2";
$ardana-icon-Information: "\e9b5";
$ardana-icon-Information_pressed: "\e9b4";
$ardana-icon-Inherit: "\e9b7";
$ardana-icon-Inherit_pressed: "\e9b6";
$ardana-icon-Instagram: "\e9b8";
$ardana-icon-Install: "\e9b9";
$ardana-icon-Integration: "\e9ba";
$ardana-icon-Iteration: "\e9bc";
$ardana-icon-Iteration_pressed: "\e9bb";
$ardana-icon-Java: "\e9be";
$ardana-icon-Java_pressed: "\e9bd";
$ardana-icon-Language: "\e9bf";
$ardana-icon-Launch: "\e9c0";
$ardana-icon-Left_Arrow: "\e9c1";
$ardana-icon-License: "\e9c3";
$ardana-icon-License_pressed: "\e9c2";
$ardana-icon-Like: "\e9c5";
$ardana-icon-Like_pressed: "\e9c4";
$ardana-icon-Line_chart: "\e9c6";
$ardana-icon-Link: "\e9c7";
$ardana-icon-Linkedin: "\e9c8";
$ardana-icon-List: "\ea73";
$ardana-icon-List_Sort: "\e9c9";
$ardana-icon-Location: "\e9cb";
$ardana-icon-Location_pressed: "\e9ca";
$ardana-icon-Lock: "\e9cc";
$ardana-icon-Login: "\e9cd";
$ardana-icon-Logout: "\e9ce";
$ardana-icon-Mail: "\e9cf";
$ardana-icon-Management: "\e9d0";
$ardana-icon-Map: "\e9d2";
$ardana-icon-Map-2: "\e9d1";
$ardana-icon-MasterCard: "\e9d3";
$ardana-icon-Medium: "\e9d4";
$ardana-icon-Menu: "\e9d5";
$ardana-icon-Microphone: "\e9d7";
$ardana-icon-Microphone_pressed: "\e9d6";
$ardana-icon-Minus: "\e9d8";
$ardana-icon-Missing_document: "\e9d9";
$ardana-icon-Monitor: "\e9da";
$ardana-icon-More: "\ea6a";
$ardana-icon-Multiple: "\e9db";
$ardana-icon-Navigate: "\e9dc";
$ardana-icon-Networking: "\ea6d";
$ardana-icon-New_window: "\e9dd";
$ardana-icon-Next: "\e9e0";
$ardana-icon-Next_caret: "\e9de";
$ardana-icon-Next_link: "\e9df";
$ardana-icon-Notification: "\e9e2";
$ardana-icon-Notification_pressed: "\e9e1";
$ardana-icon-Optimization: "\e9e3";
$ardana-icon-Overview: "\e9e4";
$ardana-icon-Pan: "\e9e5";
$ardana-icon-Paper: "\e9e6";
$ardana-icon-Pause: "\e9e8";
$ardana-icon-Pause_pressed: "\e9e7";
$ardana-icon-PayPal: "\e9e9";
$ardana-icon-Personal_computer: "\e9ea";
$ardana-icon-Pin: "\e9ec";
$ardana-icon-Pin_pressed: "\e9eb";
$ardana-icon-Pinterest: "\e9ed";
$ardana-icon-Play: "\e9ef";
$ardana-icon-Play_pressed: "\e9ee";
$ardana-icon-Plus: "\e9f0";
$ardana-icon-Police: "\e9f1";
$ardana-icon-Power: "\e9f2";
$ardana-icon-Previous: "\e9f6";
$ardana-icon-Previous_caret: "\e9f3";
$ardana-icon-Previous_link: "\e9f4";
$ardana-icon-Previous_tab: "\e9f5";
$ardana-icon-Print: "\e9f7";
$ardana-icon-Quick_view: "\e9f8";
$ardana-icon-RSS: "\ea00";
$ardana-icon-Radial_Black: "\ea74";
$ardana-icon-Radial_button: "\e9f9";
$ardana-icon-Random: "\ea75";
$ardana-icon-Reddit: "\e9fa";
$ardana-icon-Refresh: "\e9fb";
$ardana-icon-Resources: "\e9fc";
$ardana-icon-Right_Arrow: "\e9fd";
$ardana-icon-Risk: "\e9fe";
$ardana-icon-Robot_assistant: "\e9ff";
$ardana-icon-SOA: "\ea17";
$ardana-icon-Schedule: "\ea04";
$ardana-icon-Schedule_clone: "\ea01";
$ardana-icon-Schedule_new: "\ea02";
$ardana-icon-Schedule_play: "\ea03";
$ardana-icon-Scorecard: "\ea05";
$ardana-icon-Search: "\ea06";
$ardana-icon-Secure: "\ea07";
$ardana-icon-Select: "\ea09";
$ardana-icon-Select_left: "\ea08";
$ardana-icon-Server: "\ea0b";
$ardana-icon-Server_cluster: "\ea0a";
$ardana-icon-Servers: "\ea0c";
$ardana-icon-Service_business: "\ea0d";
$ardana-icon-Service_start: "\ea0e";
$ardana-icon-Share: "\ea0f";
$ardana-icon-Shield: "\ea12";
$ardana-icon-Shield_cog: "\ea10";
$ardana-icon-Shield_pressed: "\ea11";
$ardana-icon-Shift_sprint: "\ea13";
$ardana-icon-Shopping_basket: "\ea14";
$ardana-icon-Shopping_cart: "\ea15";
$ardana-icon-Skype: "\ea16";
$ardana-icon-Sort: "\ea18";
$ardana-icon-Square: "\ea19";
$ardana-icon-Stakeholder: "\ea1a";
$ardana-icon-Star: "\ea1c";
$ardana-icon-Star_pressed: "\ea1b";
$ardana-icon-Steps: "\ea1e";
$ardana-icon-Steps_pressed: "\ea1d";
$ardana-icon-Storage: "\ea6b";
$ardana-icon-Street_view: "\ea21";
$ardana-icon-Street_view-2: "\ea20";
$ardana-icon-Street_view_pressed: "\ea1f";
$ardana-icon-Support: "\ea22";
$ardana-icon-System: "\ea23";
$ardana-icon-Tab: "\ea24";
$ardana-icon-Table_add: "\ea25";
$ardana-icon-Tag: "\ea27";
$ardana-icon-Tag_pressed: "\ea26";
$ardana-icon-Target: "\ea28";
$ardana-icon-Task: "\ea29";
$ardana-icon-Template: "\ea2a";
$ardana-icon-Test: "\ea2c";
$ardana-icon-Test_desktop: "\ea2b";
$ardana-icon-Text_wrap: "\ea2d";
$ardana-icon-Threats: "\ea2e";
$ardana-icon-Tool_tips: "\ea2f";
$ardana-icon-Tools: "\ea30";
$ardana-icon-Top_corner: "\ea31";
$ardana-icon-Top_link: "\ea32";
$ardana-icon-Transaction: "\ea34";
$ardana-icon-Transaction_pressed: "\ea33";
$ardana-icon-Trash: "\ea36";
$ardana-icon-Trash_pressed: "\ea35";
$ardana-icon-Tree: "\ea37";
$ardana-icon-Trigger: "\ea38";
$ardana-icon-Trophy: "\ea3a";
$ardana-icon-Trophy_pressed: "\ea39";
$ardana-icon-Troubleshooting: "\ea3b";
$ardana-icon-Tumblr: "\ea3c";
$ardana-icon-Twitter: "\ea3d";
$ardana-icon-Unknown_L: "\ea3e";
$ardana-icon-Unknown_M: "\ea3f";
$ardana-icon-Unknown_S: "\ea40";
$ardana-icon-Unlock: "\ea41";
$ardana-icon-Up: "\ea45";
$ardana-icon-Up_caret: "\ea42";
$ardana-icon-Up_link: "\ea43";
$ardana-icon-Up_tab: "\ea44";
$ardana-icon-Update: "\ea46";
$ardana-icon-Upgrade: "\ea48";
$ardana-icon-Upgrade_pressed: "\ea47";
$ardana-icon-Upload: "\ea49";
$ardana-icon-User: "\ea4e";
$ardana-icon-User_expert: "\ea4a";
$ardana-icon-User_new: "\ea4b";
$ardana-icon-User_pressed: "\ea4c";
$ardana-icon-User_settings: "\ea4d";
$ardana-icon-VISA: "\ea58";
$ardana-icon-VM_maintenance: "\ea59";
$ardana-icon-Validation: "\ea50";
$ardana-icon-Validation_pressed: "\ea4f";
$ardana-icon-Verified_document: "\ea51";
$ardana-icon-Video: "\ea53";
$ardana-icon-Video_pressed: "\ea52";
$ardana-icon-View: "\ea55";
$ardana-icon-View_pressed: "\ea54";
$ardana-icon-Vimeo: "\ea56";
$ardana-icon-Virtual_machine: "\ea57";
$ardana-icon-Volume_low: "\ea5b";
$ardana-icon-Volume_low_pressed: "\ea5a";
$ardana-icon-Volume_mute: "\ea5d";
$ardana-icon-Volume_mute_pressed: "\ea5c";
$ardana-icon-Volume_pressed: "\ea5e";
$ardana-icon-Vulnerability: "\ea5f";
$ardana-icon-Warning_L: "\ea60";
$ardana-icon-Warning_M: "\ea61";
$ardana-icon-Warning_S: "\ea62";
$ardana-icon-Waypoint: "\ea64";
$ardana-icon-Waypoint_pressed: "\ea63";
$ardana-icon-Windows_application: "\ea65";
$ardana-icon-Worker: "\ea66";
$ardana-icon-Workshop: "\ea67";
$ardana-icon-YouTube: "\ea68";
$ardana-icon-Zoom_in: "\ea69";

