// (c) Copyright 2016-2017 Hewlett Packard Enterprise Development LP
// (c) Copyright 2017 SUSE LLC
oc-input {
  &[type="multiselect"] .oc-input {
    max-height: 500px;
  }
  &[type="multiselect-notification"] .oc-input {
    max-height: 500px;
    overflow: auto;
  }
  &[type="select"] .oc-input {
    max-height: 71px;
  }
  &[type="iprange"] .oc-input {
    max-height: none;
    overflow: visible;
  }
  &[type="button"] ng-form {
    display: flex;
  }
  &[type="dimension"] ng-form {
    display: flex;
  }
  &[type="matchby"] ng-form {
    display: flex;
  }
  &[type="textarea"] {
    max-height: 500px;
    ng-form {
      display: block;
    }
    textarea {
      display: block;
      padding: 15px;
      background-color: transparent;
      border: none;
      width: 100%;
      height: 120px;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      outline: none;
      &[disabled] {
        background-color: $grommet-white;
      }
    }
  }
  .oc-input {
    border: solid 1px $grommet-form-border;
    width: 516px;
    min-height: 71px;
    margin-top: -1px;
    z-index: auto;
    position:relative;
    display: block;
    &.error {
      border: solid 1px $grommet-red;
      z-index: 2;
    }
    &.disabled {
      border: solid 1px $grommet-form-border-disabled;
      z-index: -1;
      color: $grommet-form-disabled !important;
      .input-label {
        color: $grommet-form-disabled !important;
        &.select:after {
          cursor: default;
        }
      }
      input {
        color: $grommet-form-disabled !important;
      }
      .button-value {
        color: $grommet-form-disabled !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .dimension-container .dimension {
        border: 1px solid $grommet-form-disabled;
        .remove {
          cursor: auto;
        }
      }
    }
    .input-label {
      margin-left: 15px;
      margin-top: 10px;
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
      color: $grommet-dark-grey;
      &.error {
        color: $grommet-red;
      }
      &.select:after {
        border-left: 1px solid $grommet-form-border;
        border-bottom: 1px solid $grommet-form-border;
        opacity: 1;
        width: 15px;
        height: 15px;
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
        content: " ";
        position: relative;
        bottom: -14px;
        right: 24px;
        float: right;
        cursor: pointer;
      }
    }
    input {
      margin-left: 15px;
      background-color: transparent;
      border: none;
      width: 487px;
      height: 40px;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      padding: 1px 0px 1px 0px;
      color: $grommet-black;
      outline-style: none;
      box-shadow: none;
      &[type="text"] {
        &:focus {
          border: none;
          outline: none;
        }
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: $grommet-form-disabled;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: $grommet-form-disabled;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: $grommet-form-disabled;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
           color: $grommet-form-disabled;
        }
      }
    }
    .select-sizing {
      padding-left: 15px;
      padding-top: 6px;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      color: $grommet-unknown-grey;
    }
    .select-placeholder {
      @extend .select-sizing;
      width: 487px;
      height: 40px;
      &.active {
        color: $grommet-black;
        cursor: pointer;
      }
    }
    .multiselect {
      margin: 5px 0 5px 15px;
    }
    .multiselect-notif {
      margin: 5px 0 5px 0px;
      th {
        border-bottom: 1px solid $grommet-grey;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
      }
      td {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .button-value {
      @extend .select-sizing;
      flex-grow: 2;
      cursor: default;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $grommet-black;
    }
    button {
      flex-shrink: 0;
    }
    .dimension-container {
      flex-grow: 2;
      &.narrower {
        width: 370px;
      }
      .dimension {
        border: 1px solid $dimension_content_color;
        border-radius: 5px;
        padding: 2px 5px 2px 5px;
        max-width: 200px;
        height: 25px;
        overflow: hidden;
        margin: 5px;
        font-size: 14px;
        white-space: nowrap;
        display:inline;
        text-overflow: ellipsis;
        @extend .inline;
        .dimension-inner-text {
          @extend .inline;
          line-height: 19px;
          width: 200px;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 18px;
        }
        .remove {
          @extend .pointer;
        }
        &.range-list {
          display: flex;
          max-width: 245px;
        }
      }
    }
    .gatewayip-remove-btn {
      position: absolute;
      top: 20px;
      right: 0px;
    }
  }
}
.oc-select-list {
  display: none;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  border: solid 1px $grommet-form-border;
  div {
    width: 100%;
    background-color: $grommet-white;
    z-index: 5;
    position: relative;
    cursor: pointer;
    height: 40px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
    &:hover {
      color: $grommet-white;
      background-color: $grommet-green;
    }
  }
  &.list-shown {
    z-index: 100;
    display: block;
  }
}
.right-form {
  @extend .inline;
  max-width: 49%;
}
.left-form {
  @extend .right-form;
  @extend .inline;
  margin-right:20px;
}

.form-seperator {
  clear: both;
}
