// (c) Copyright 2016-2017 Hewlett Packard Enterprise Development LP
// (c) Copyright 2017 SUSE LLC
oc-checkbox {
	.ardana-icon {
		&.ardana-icon-Checkbox {
			color: $grommet-black;
		}
		&.ardana-icon-Check {
			color: $grommet-green;
		}
		&.disabled {
			color: $grommet-icon-grey;
		}
	}
}
