// (c) Copyright 2016-2017 Hewlett Packard Enterprise Development LP
// (c) Copyright 2017 SUSE LLC
.select-list {
	overflow-y: auto;
	border: 1px solid #c9c9c9;
	.select-item {
		height: 28px;
		padding-top: 4px;
		&:nth-child(even) {
			background-color: #f0f0f0;
		}
		input[type="checkbox"] {
			margin-left: 8px;
			margin-right: 8px;
		}
	}
}
