// (c) Copyright 2016-2017 Hewlett Packard Enterprise Development LP
// (c) Copyright 2017 SUSE LLC
.top-ten {
  width: 100%;
  box-shadow: $grommet-box-shadow;
  background-color: $grommet-white;
  padding: 35px 35px 35px 30px;
  .top-ten-legend-top {
      width: 74%;
      margin: 0 0 10px 25%;

      ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 111%;
            position: relative;
            left: -5%;
          li {
                display: inline-block;
                width: calc(100%/11 - 1px);
                margin: 0 0 0 0px;
                text-align: center;
          }
      }

      h5 {
          display: inline-block;
          width: 100%;
          text-align: center;
          border-top: 1px solid $grommet-shadow;
          margin-bottom: 0;
          padding-top: 11px;
      }
  }
  .top-ten-item {
    margin-bottom: 2px;
    .top-ten-label {
      width: 25%;
      @extend .inline;
      .top-ten-label-line-1 {
        font-weight: bold;
      }
      .top-ten-label-line-2 {
        span {
          font-weight: bold;
        }
      }
    }
    .top-ten-bar {
      width: 74%;
      @extend .inline;
      height: 50px;
      .top-ten-bar-content {
        height: 100%;
        background-color: $utilized_color;
      }
    }
  }
  .top-ten-legend {
    margin-top: 25px;
    .legend-box {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background-color: $utilized_color;
      @extend .inline;
    }
  }
}
