<div class="octable_global_action_container">
    <span class="global_action_header"><oct-global-actions-control></oct-global-actions-control></span>
    <div class="octable_std_header col-md-12">
        <span class="float-left"><oct-row-selection-controls></oct-row-selection-controls></span>
        <span class="float-right" ng-if="showTransformControls"><oct-view-controls></oct-view-controls></span>
        <span class="float-left enum_filter"><oct-enum-filter></oct-enum-filter></span>
    </div>
    <span class="selected_action_controller"><oct-multi-row-actions-control></oct-multi-row-actions-control></span>
</div>
