プログラムの初期の年の間に、1984年から1992年半ばに、F-117Aの艦隊は、それが第四千四百五十戦術グループの下に務めトノパーテストレンジ空港、ネバダ州で基づいていた。 F-117は、この時間の間に分類されていたので、ユニットが正式にネリス空軍基地、ネバダ州に位置して-7コルセアII航空機が装備されていた。第四千四百五十は1992年、1989年に第37戦術戦闘航空団によって吸収された、全体の艦隊は、それが第49戦闘航空団の指揮下に置かれたホロマン空軍基地、ニューメキシコ州、に移した。この動きはまた、毎月トノパーにネリスから300便に22000旅客の旅行を飛んトノパーの鍵航空とアメリカン航空トランス契約便を、排除した。

F-117のパイロットは「バンディッツ」自分自身と呼ばれる。例えば、F-117での初飛行の順番を示す「バンディット52」、としてF-117はバンディット番号を持って飛行している558空軍のパイロット、各。[35]

F-117は、戦争で数回使用されています。その最初のミッションは、F-117Aナイトホークスリオはと飛行場に2発の爆弾を落としたその侵略2中に[36]1989年にパナマの米国の侵攻の際だった。

1991年の湾岸戦争時には、F-117Aは、約1,300出撃を飛んで、[1]6905以上の飛行時間はイラクに1600高価値目標に直接ヒットを記録した。[37]リーフレットは、イラク軍に低下し、F-117破壊地面に表示ターゲットは、読者が「今の脱出と自分を救う」と警告した。その有効性の[23]初期クレームは、後で誇張することがわかった。 [38]はこれが唯一の229連合の航空機がドロップすると、レーザー - 指定する可能性があるという事実を無視し、F-117は、イラクでの連合戦術航空機の2.5％を占めていた、彼らは戦略目標の40％以上を攻撃し、そのインスタンスのそれが主張された36 F-117が15.7％を占め、そして唯一のUSAFは、F-117は、そのような爆弾を届けることができるすべての連立航空機の32％を占めように、硬化のターゲットを対象とI-2000の爆弾を持っていたそのうちの誘導爆弾。[39]初期の報告彼らの目標の80％を打つの後のバック「百分の41から60まで」に拡大縮小された。[40]最初の夜には、中に防空オペレーションセンターを含め、彼らが割り当てられていた防空目標の40％を打つことができなかったバグダッド、そして8そのような目標を評価することができた10のうち、機能的なままであった。[41]が彼らの砂漠の嵐のホワイトペーパーではUSAFは「F-117はプランナーが繁華街バグダッド上のリスクをあえてすることを唯一の飛行機だった」と主張し、これことエリアは特によく守った。彼らは、F-117のような夜に襲われたとき[42]は実際には空気の防御のほとんどは最小限の犠牲者で、繁華街の都市や他の多くの航空機のヒットターゲットの郊外にあった。[42 ]これは、彼らが連合の航空機への最大の脅威であった光学的に目的としたAAAと赤外線のSAMを避ける意味していた。[43]

航空機はUSAFの非ステルス"鉄のジェット」との統合は、しかし、ゆっくりと発生した約10年間来、トノパーから秘密で動作するが、湾岸戦争後に航空機は1992年にホロマンに移された。 1シニアF-117Aのパイロットが、後に言ったようにために継続的な秘密主義のため、他の人は、航空機を見て「彼らのビジネス、スタンドアロンシステムのどれも「継続しない。[33] F-117Aと49の男性と女性戦闘航空団は、複数の機会に南西アジアに展開された。彼らの最初の展開では、空中給油の助けを借りて、パイロットはクウェート、約18.5時間の飛行にホロマンからノンストップで飛んだ - 。今日スタンドシングルシート戦闘機のための記録[1]

F-117はその後、2003年に1997から1998砂漠サンダー（サザン·ウォッチ作戦の一部）、1999年に運用アライドフォース、2001年の不朽の自由作戦、そしてイラクの自由作戦で使用された。

戦闘損失[編集]
主要な記事：1999 F-117Aのシュートダウン
唯一の1つのF-117（AFの出願番号82から0806）は、敵のアクションに失われました。それは。操作アライドフォース中の1999年3月27日、上のユーゴスラビアの軍に対するミッション中に撃墜された[44]8：15についての午後は現地時間、SA-3Sは離れて、によって起動さ約8マイル（13キロ）から発射された対空ミサイルシステムソ連Isayev S-125」ネヴァ」（NATO名SA-3"ゴア"）のユーゴスラビアバージョン。[44] [45] [46]はランチャーが250空気の第三大隊によって実行されたその爆弾ベイのドアがそのレーダー署名を上げ、開いたときに大佐はZoltánダニの指揮下に防衛ミサイル旅団は。[47]2007年のインタビューでダニによると、彼の軍はレーダーに航空機を見つけた。[48] Oneソースのいずれかを述べているF-117の近くに、その近接信管によって爆発ミサイルが。[44]ダニは、彼は無傷で頻繁に移動することによって、彼のミサイルサイトのほとんどを保ち、F-117Sと他のNATOの航空機を探してスポッターを持っていたと述べた。彼はまた、彼は、その検出能力を改善するためにレーダーを標的とする修飾を監督していることを述べた。[46]


F-117のキャノピーはベオグラード航空の博物館で1999年3月セルビアで撃墜
爆発の後、航空機が排出するようにパイロットを強制的に、制御不能となった。[44]パイロットは空軍パラレスキューチームが6時間後に回収した。[44] [49]写真は、航空機が低速で地面を打ったことを示している倒立位置で、機体は比較的無傷で残っていること[44]セルビア人はその後25歳の米国のステルス技術を犠牲にすること、航空機の遺骨を検査するロシアの人員を招待した。[50]は、F-117のパイロットが最初に誤認されました。名前「大尉ケン「ウィズ」Dwelle」はキャノピーに描かれたが、それはパイロットが中佐デール·ゼルコであったこと、2007年に明らかになった。[51] [52]、ダウンしたF-117からステルス技術が有してもよいロシアと中国に買収されて。[53]

いくつかのアメリカのソースは、第二のF-117Aは、伝えられるところでは4月30日に、同キャンペーン期間中に破損していたと述べている;[54]航空機がベースに戻ったが、それはたぶん、再び飛んだことはありません[55] [56]

退職[編集]
セルビアの損失はUSAFは戦術を向上させるために、既存の武器学校のサブセクションを作成していました。もっとトレーニングは他のユニットで行われ、F-117Aは、レッドフラッグに参加し始めたした。その時のための高度なものの、F-117のステルス多面的な機体は、メンテナンスを大量に必要とし、最終的にコンピュータ支援設計と生産合理化された形状に取って代わられました。その他の兵器システムは、F-22ラプターが誘導爆弾をドロップする能力を得るように、F-117Aの役割、に取るようになった。[57]が2005年までに、航空機が唯一のそのようなパイロットが確認するために、必要に応じてなどの特定のミッションのために使用された正しいターゲットがヒット、または最小限の巻き添え被害が不可欠だったされていたこと。[33]

空軍は、かつて2011年にF-117を引退する予定が、プログラム予算の決定720（PBD720）は、F [58]はより多くを購入すると推定1070000000ドルを解放するために2008年10月によってそれを引退提案し、2005年12月28日付けていた-22s。[35]は10 F-117Sを呼びかけPBD720は、他の空軍機やミサイルがこっそりB-2スピリットを含め、精密兵器を提供しなかったことを示す、F-222007年度に退職し、2008年度の残りの42されるとJASSM。[59] F-35ライトニングIIはまた、退職に貢献した多目的の計画的導入。[60]

2006年後半には、空軍はF-117の正式な訓練ユニット（FTU）、[61]を閉じ、F-117の引退を発表しました。[62]は最初の6航空機は引退すべき2007年3月12日に彼らの最後の飛行を行ったホロマン空軍基地での式典の後に航空機のキャリアを記念して。准将デイビット·L·ゴールドフェイン、第49戦闘航空団の司令官は、これらの偉大な航空機本日の発表により、「式典で語った、円はクローズに来る - 私たちの国の防衛を満たし、彼らの使命へのサービスが実現され、ジョブ。よくやった我々は、彼らの永眠の地にそれらを今日送る - 家は、彼らがに精通している - 。彼らの最初の、そして唯一、家をホロマンの外で」[63]


のペアは、特別に米国フラグはオハイオ州空軍州兵の第121空中給油ウィングによるそれらの最後の給油から飛んスポーツF-117ナイトホークスを描いた。
博物館に他のほとんどの空軍の解体のためのデービス·Monthan AFBに引退している航空機、または分散とは異なり、F-117SのほとんどはTonopahのテストレンジ空港で元の格納庫に引退した。トノパーでは、彼らの翼は[44]であった削除され、航空機が元の気候制御格納庫に格納されている。[63]廃止は2007年3月13日から始まる7波のようにトノパーに引退した運用の航空機で、8段階的に発生し、4月22日の最後の波の到着で終わる2008[2] [44]4機が飛行試験用のパームデールで第四百十飛行試験飛行隊によって4月を超えて飛んで維持した。 8月までに、二人は残りました。最後のF-117（AFの出願番号86から0831）は、第四百十は2008年8月1日に式典に不活性化し、引退した最後の航空機では8月11日、2008年[44] [64]にトノパーに飛ぶことデールを残しました。 [65]

5機は最初の4 YF-117Asとセルビア上空で撃墜F-117のいくつかの遺跡を含む博物館に入れた。 2009年を通じて、1つのF-117は、廃棄されています。 F-117 AFのSer。第79から0784には、それが最後のF-117パームデールにあった4月26日、2008年にパームデール·テスト施設で廃棄され、F-117の機体を破壊するための効果的な方法をテストするために廃止された。[44]

正式に引退したが、F-117艦隊はそのまま残りや写真は慎重に棚上げ航空機を示しています。[44]はF-117Sとして最近ネリス爆撃範囲で飛んで目撃された2013年のように[66] [67]