<div class="col-md-4 listColumnContainer">
    <div class="listColumnTitle">{{listTableTitle | translate:tableTitleTranslateData}}</div>
    <div class="listTableContainer">
        <table class="listTable">
            <tr ng-repeat="item in viewlist" ng-click="selectRow(item)"
                class="{{item.statusClass}}" ng-class="{'currentRowSelection' : item.$viewlistRowSelected}">
                <td>{{item[labelattr]}}</td>
                <td class="statusColumn"></td>
            </tr>
        </table>
    </div>

    <div class="listViewButtonContainer">
        <button class="oc-btn oc-btn-default" ng-click="prevItem()">{{"sidebar.left_panel.button.prev" | translate}}</button>
        <button class="oc-btn oc-btn-default" ng-click="nextItem()" style="float:right">{{"sidebar.left_panel.button.next" | translate}}</button>
    </div>
</div>
<div class="col-md-8 listViewParentContainer">
    <div ng-repeat="item in viewlist" class="listViewContainer"
         ng-include="getItemTemplate(item)"
         ng-if="item.$viewlistRowSelected">
    </div>
</div>