<div id="content" class="other_content">
    <div class="bottom-content">
        <div class="bottom-content-left">
            <p class="os_creads">
                {{ "sidebar.right_panel.content.os_creds" | translate }}
            </p>

            <div class="sidebar-input">
                <div class="username">
                    <label>{{ "sidebar.right_panel.content.username" | translate }}</label>
                    <input type="text" ng-attr-id="{{ node.id + '_username' }}"
                           ng-keyup="validations($event, node.hypervisor)" required
                           onchange="angular.element(this).scope().sidebarInputChanged(this, angular.element(this).scope().node.hypervisor)"/>
                </div>
                <div class="password">
                    <label>{{ "sidebar.right_panel.content.password" | translate }}</label>
                    <input type="password" ng-attr-id="{{ node.id + '_password' }}"
                           ng-keyup="validations($event, node.hypervisor)" required
                           onchange="angular.element(this).scope().sidebarInputChanged(this, angular.element(this).scope().node.hypervisor)"/>

                    <div class="control-label show_password">{{ 'system.users.show_password.prompt' | translate }}
                        <input type="checkbox" ng-model="show_hyperv_password" ng-click="copy_password(node.id)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-content-right">
            <p class="conf">
                {{ "sidebar.right_panel.content.conf" | translate }}
            </p>

            <div class="sidebar-input">
                <div>
                    <label>
                        <input type="radio" value="switch_name"
                               class="{{ node.id + '_radio_switch' }}" checked="checked"
                               ng-click="handleRadioSwitching($event, node.id, node.hypervisor, '_radio_switch', '_switch', '_radio_nics', '_trunk_data')">
                        <span>{{ "compute.activate_from_action_menu.hyperv.switch_name" | translate }}
                            <div class="oc-info ardana-icon ardana-icon-Unknown_L"
                             uib-tooltip="{{ 'compute.activate.tooltip.vswitch' | translate: {type:'HYPER-V'} }}"
                             tooltip-placement="right"></div>
                        </span>
                    </label>
                </div>
                <div class="hyperv_input">
                    <input type="text" name="activate_hyperv_text_switch_name"
                           ng-attr-id="{{ node.id + '_switch' }}" required
                           ng-keyup="validations($event, node.hypervisor)"
                           onchange="angular.element(this).scope().sidebarInputChanged(this, angular.element(this).scope().node.hypervisor)">
                </div>


                <div class="extra_spacing">
                    <label>
                        <input type="radio" value="nics"
                               class="{{ node.id + '_radio_nics' }}"
                               ng-click="handleRadioSwitching($event, node.id, node.hypervisor, '_radio_nics', '_trunk_data', '_radio_switch', '_switch')">
                        <span>{{ "sidebar.right_panel.content.teamed_nics" | translate }}</span>

                        <div class="oc-info ardana-icon ardana-icon-Unknown_L"
                             uib-tooltip="{{ 'compute.activate.tooltip.truck' | translate: {type:'HYPER-V'} }}"
                             tooltip-placement="right"></div>
                    </label>
                </div>
                <div class="hyperv_input">
                    <input type="text" name="activate_hyperv_text_nics_name" style="display: none;"
                           ng-attr-id="{{ node.id + '_trunk_data' }}"
                           ng-keyup="validations($event, node.hypervisor)" required
                           onchange="angular.element(this).scope().sidebarInputChanged(this, angular.element(this).scope().node.hypervisor)">
                </div>

                <div class="extra_spacing">
                    <label>{{ "compute.activate_from_action_menu.port_number" | translate }}:</label>
                    <input type="text" ng-attr-id="{{ node.id + '_port' }}" value="5986"
                           ng-keyup="validations($event, node.hypervisor)" required
                           onchange="angular.element(this).scope().sidebarInputChanged(this, angular.element(this).scope().node.hypervisor)"/>
                </div>
                <div class="apply_settings">
                    <input type="checkbox" ng-attr-id="{{ node.id + '_isChecked' }}"
                           ng-click="ShowWarning($event, node.name, node.hypervisor, $parent.$parent.$parent.$parent.$parent.$parent.modalDrawer)"/>
                    {{ "sidebar.right_panel.content.apply_settings" | translate: {type: "HYPER-V"} }}
                </div>
            </div>
        </div>
    </div>
</div>
